<h1 class='expense-title'>Expenses</h1>

<% if !current_user.has_role? :admin %>
  <%= form_for @new_expense do |f| %>
    <div class="row">
        <div class="col-sm-4">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
        <div class="col-sm-4">
          <%= f.label :amount %>
          <%= f.number_field :amount, :step => 0.01 %>
        </div>
        <div class="col-sm-4">
          <%= f.datetime_local_field :transaction_date %>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 expense-submit-row">
        <%= f.submit "Create Expense" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <h3>Description</h3>
  </div>
  <div class="col-sm-4">
    <h3>Amount</h3>
  </div>
  <div class="col-sm-4">
    <h3>Transaction Date</h3>
  </div>
</div>
<% @expenses.each do |expense| %>
  <div class="row">
    <div class="col-sm-3">
      <%= expense.description %>
    </div>
    <div class="col-sm-3">
      <%= expense.amount %>
    </div>
    <div class="col-sm-3">
      <%= expense.transaction_date %>
    </div>
    <div class="col-sm-1">
      <%= link_to "Edit", edit_expense_path(expense) %>
    </div>
  </div>
<% end %>
